.container{
    border: 0px solid black;
}

.col{
    border: 0px solid green;
}

#Header{
    background-color: orange;

}
#Menu{
    background-color: pink;

}
#Content{

}
#Sidebar{
    background-color: lightblue;

}
#Footer{
    background-color: orange;

}